# Name : Solanki Prachi Piyushbhai

# Data Science (Sem-7)

In [1]:
# Importing libraries
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Loading data
data = pd.read_csv("car-data.csv")

In [3]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [4]:
data.shape

(6019, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [6]:
data.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  6019.000000  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   3009.000000  2013.358199       5.873838e+04     5.278735     9.479468
std    1737.679967     3.269742       9.126884e+04     0.808840    11.187917
min       0.000000  1998.000000       1.710000e+02     0.000000     0.440000
25%    1504.500000  2011.000000       3.400000e+04     5.000000     3.500000
50%    3009.000000  2014.000000       5.300000e+04     5.000000     5.640000
75%    4513.500000  2016.000000       7.300000e+04     5.000000     9.950000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [7]:
data.duplicated().any()

False

In [8]:

data_numeric = data.select_dtypes(include=[np.number])
data_numeric = data_numeric.fillna(data_numeric.mean())


data_categorical = data.select_dtypes(include=[np.object_])
data_categorical = data_categorical.fillna(data_categorical.mode().iloc[0])

data = pd.concat([data_numeric, data_categorical], axis=1)

In [9]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['Name']= label_encoder.fit_transform(data['Name'])
data['Location']= label_encoder.fit_transform(data['Location'])
data['Fuel_Type']= label_encoder.fit_transform(data['Fuel_Type'])
data['Transmission']= label_encoder.fit_transform(data['Transmission'])
data['Owner_Type']= label_encoder.fit_transform(data['Owner_Type'])
data['Power']= label_encoder.fit_transform(data['Power'])
data['Engine']= label_encoder.fit_transform(data['Engine'])
data['Mileage']= label_encoder.fit_transform(data['Mileage'])
data['New_Price']= label_encoder.fit_transform(data['New_Price'])

In [10]:
x=data.drop(columns=['Price','Unnamed: 0'],axis=1)

In [11]:
y=data['Price']

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [13]:
x_train.shape

(4815, 12)

In [14]:
x_test.shape

(1204, 12)

In [15]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [16]:
model = Sequential()
model.add(Dense(20, activation='relu', input_shape=(12,)))
model.add(Dense(14, activation='relu'))
model.add(Dense(1, activation='relu'))

In [17]:
model.compile(optimizer='adam',loss = 'mean_absolute_error',metrics = ['MAE'])

In [18]:
early_stopping = EarlyStopping(monitor='MAE', patience=3)

In [19]:
model.fit(x_train, y_train,epochs=75, validation_split=0.2, callbacks=[early_stopping])

Epoch 1/75
121/121 [==============================] - 2s 6ms/step - loss: 8.4655 - MAE: 8.4655 - val_loss: 7.1764 - val_MAE: 7.1764
Epoch 2/75
121/121 [==============================] - 0s 2ms/step - loss: 5.2818 - MAE: 5.2818 - val_loss: 4.5717 - val_MAE: 4.5717
Epoch 3/75
121/121 [==============================] - 0s 4ms/step - loss: 3.9777 - MAE: 3.9777 - val_loss: 3.9199 - val_MAE: 3.9199
Epoch 4/75
121/121 [==============================] - 0s 4ms/step - loss: 3.5051 - MAE: 3.5051 - val_loss: 3.5954 - val_MAE: 3.5954
Epoch 5/75
121/121 [==============================] - 0s 2ms/step - loss: 3.2913 - MAE: 3.2913 - val_loss: 3.4601 - val_MAE: 3.4601
Epoch 6/75
121/121 [==============================] - 0s 2ms/step - loss: 3.1702 - MAE: 3.1702 - val_loss: 3.3412 - val_MAE: 3.3412
Epoch 7/75
121/121 [==============================] - 0s 3ms/step - loss: 3.0801 - MAE: 3.0801 - val_loss: 3.2565 - val_MAE: 3.2565
Epoch 8/75
121/121 [==============================] - 0s 3ms/step - loss: 3.0004 - MAE: 3.0004 - val_loss: 3.1793 - val_MAE: 3.1793
Epoch 9/75
121/121 [==============================] - 0s 4ms/step - loss: 2.9255 - MAE: 2.9255 - val_loss: 3.1299 - val_MAE: 3.1299
Epoch 10/75
121/121 [==============================] - 0s 3ms/step - loss: 2.8775 - MAE: 2.8775 - val_loss: 3.0663 - val_MAE: 3.0663
Epoch 11/75
121/121 [==============================] - 0s 3ms/step - loss: 2.8033 - MAE: 2.8033 - val_loss: 3.0093 - val_MAE: 3.0093
Epoch 12/75
121/121 [==============================] - 0s 4ms/step - loss: 2.7567 - MAE: 2.7567 - val_loss: 2.9491 - val_MAE: 2.9491
Epoch 13/75
121/121 [==============================] - 0s 4ms/step - loss: 2.6910 - MAE: 2.6910 - val_loss: 2.8974 - val_MAE: 2.8974
Epoch 14/75
121/121 [==============================] - 0s 4ms/step - loss: 2.6443 - MAE: 2.6443 - val_loss: 2.8650 - val_MAE: 2.8650
Epoch 15/75
121/121 [==============================] - 0s 4ms/step - loss: 2.6028 - MAE: 2.6028 - val_loss: 2.8186 - val_MAE: 2.8186
Epoch 16/75
121/121 [==============================] - 0s 4ms/step - loss: 2.5538 - MAE: 2.5538 - val_loss: 2.7774 - val_MAE: 2.7774
Epoch 17/75
121/121 [==============================] - 0s 4ms/step - loss: 2.5153 - MAE: 2.5153 - val_loss: 2.7471 - val_MAE: 2.7471
Epoch 18/75
121/121 [==============================] - 0s 4ms/step - loss: 2.4762 - MAE: 2.4762 - val_loss: 2.6979 - val_MAE: 2.6979
Epoch 19/75
121/121 [==============================] - 0s 3ms/step - loss: 2.4456 - MAE: 2.4456 - val_loss: 2.6801 - val_MAE: 2.6801
Epoch 20/75
121/121 [==============================] - 0s 2ms/step - loss: 2.4083 - MAE: 2.4083 - val_loss: 2.6335 - val_MAE: 2.6335
Epoch 21/75
121/121 [==============================] - 0s 2ms/step - loss: 2.3789 - MAE: 2.3789 - val_loss: 2.6038 - val_MAE: 2.6038
Epoch 22/75
121/121 [==============================] - 0s 4ms/step - loss: 2.3484 - MAE: 2.3484 - val_loss: 2.5864 - val_MAE: 2.5864
Epoch 23/75
121/121 [==============================] - 0s 3ms/step - loss: 2.3263 - MAE: 2.3263 - val_loss: 2.5629 - val_MAE: 2.5629
Epoch 24/75
121/121 [==============================] - 0s 2ms/step - loss: 2.2972 - MAE: 2.2972 - val_loss: 2.5483 - val_MAE: 2.5483
Epoch 25/75
121/121 [==============================] - 0s 4ms/step - loss: 2.2740 - MAE: 2.2740 - val_loss: 2.5377 - val_MAE: 2.5377
Epoch 26/75
121/121 [==============================] - 0s 3ms/step - loss: 2.2569 - MAE: 2.2569 - val_loss: 2.4995 - val_MAE: 2.4995
Epoch 27/75
121/121 [==============================] - 0s 4ms/step - loss: 2.2328 - MAE: 2.2328 - val_loss: 2.5079 - val_MAE: 2.5079
Epoch 28/75
121/121 [==============================] - 0s 2ms/step - loss: 2.2139 - MAE: 2.2139 - val_loss: 2.4875 - val_MAE: 2.4875
Epoch 29/75
121/121 [==============================] - 0s 2ms/step - loss: 2.1985 - MAE: 2.1985 - val_loss: 2.5048 - val_MAE: 2.5048
Epoch 30/75
121/121 [==============================] - 0s 2ms/step - loss: 2.1825 - MAE: 2.1825 - val_loss: 2.4643 - val_MAE: 2.4643
Epoch 31/75
121/121 [==============================] - 0s 2ms/step - loss: 2.1708 - MAE: 2.1708 - val_loss: 2.4501 - val_MAE: 2.4501
Epoch 32/75
121/121 [==============================] - 0s 3ms/step - loss: 2.1531 - MAE: 2.1531 - val_loss: 2.4543 - val_MAE: 2.4543
Epoch 33/75
121/121 [==============================] - 0s 4ms/step - loss: 2.1498 - MAE: 2.1498 - val_loss: 2.4402 - val_MAE: 2.4402
Epoch 34/75
121/121 [==============================] - 0s 3ms/step - loss: 2.1397 - MAE: 2.1397 - val_loss: 2.4285 - val_MAE: 2.4285
Epoch 35/75
121/121 [==============================] - 0s 3ms/step - loss: 2.1292 - MAE: 2.1292 - val_loss: 2.4205 - val_MAE: 2.4205
Epoch 36/75
121/121 [==============================] - 0s 2ms/step - loss: 2.1163 - MAE: 2.1163 - val_loss: 2.4236 - val_MAE: 2.4236
Epoch 37/75
121/121 [==============================] - 0s 3ms/step - loss: 2.1076 - MAE: 2.1076 - val_loss: 2.4025 - val_MAE: 2.4025
Epoch 38/75
121/121 [==============================] - 0s 3ms/step - loss: 2.0953 - MAE: 2.0953 - val_loss: 2.3944 - val_MAE: 2.3944
Epoch 39/75
121/121 [==============================] - 0s 4ms/step - loss: 2.0837 - MAE: 2.0837 - val_loss: 2.3855 - val_MAE: 2.3855
Epoch 40/75
121/121 [==============================] - 0s 3ms/step - loss: 2.0736 - MAE: 2.0736 - val_loss: 2.3834 - val_MAE: 2.3834
Epoch 41/75
121/121 [==============================] - 0s 2ms/step - loss: 2.0731 - MAE: 2.0731 - val_loss: 2.3828 - val_MAE: 2.3828
Epoch 42/75
121/121 [==============================] - 0s 3ms/step - loss: 2.0598 - MAE: 2.0598 - val_loss: 2.3618 - val_MAE: 2.3618
Epoch 43/75
121/121 [==============================] - 0s 2ms/step - loss: 2.0596 - MAE: 2.0596 - val_loss: 2.3677 - val_MAE: 2.3677
Epoch 44/75
121/121 [==============================] - 0s 3ms/step - loss: 2.0436 - MAE: 2.0436 - val_loss: 2.3579 - val_MAE: 2.3579
Epoch 45/75
121/121 [==============================] - 0s 3ms/step - loss: 2.0380 - MAE: 2.0380 - val_loss: 2.3678 - val_MAE: 2.3678
Epoch 46/75
121/121 [==============================] - 0s 4ms/step - loss: 2.0271 - MAE: 2.0271 - val_loss: 2.3438 - val_MAE: 2.3438
Epoch 47/75
121/121 [==============================] - 0s 2ms/step - loss: 2.0236 - MAE: 2.0236 - val_loss: 2.3409 - val_MAE: 2.3409
Epoch 48/75
121/121 [==============================] - 0s 2ms/step - loss: 2.0221 - MAE: 2.0221 - val_loss: 2.3430 - val_MAE: 2.3430
Epoch 49/75
121/121 [==============================] - 0s 4ms/step - loss: 2.0157 - MAE: 2.0157 - val_loss: 2.3361 - val_MAE: 2.3361
Epoch 50/75
121/121 [==============================] - 0s 4ms/step - loss: 2.0017 - MAE: 2.0017 - val_loss: 2.3680 - val_MAE: 2.3680
Epoch 51/75
121/121 [==============================] - 0s 2ms/step - loss: 2.0031 - MAE: 2.0031 - val_loss: 2.3313 - val_MAE: 2.3313
Epoch 52/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9945 - MAE: 1.9945 - val_loss: 2.3343 - val_MAE: 2.3343
Epoch 53/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9938 - MAE: 1.9938 - val_loss: 2.3287 - val_MAE: 2.3287
Epoch 54/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9844 - MAE: 1.9844 - val_loss: 2.3496 - val_MAE: 2.3496
Epoch 55/75
121/121 [==============================] - 0s 3ms/step - loss: 1.9793 - MAE: 1.9793 - val_loss: 2.3197 - val_MAE: 2.3197
Epoch 56/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9717 - MAE: 1.9717 - val_loss: 2.3230 - val_MAE: 2.3230
Epoch 57/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9690 - MAE: 1.9690 - val_loss: 2.3407 - val_MAE: 2.3407
Epoch 58/75
121/121 [==============================] - 0s 3ms/step - loss: 1.9650 - MAE: 1.9650 - val_loss: 2.3241 - val_MAE: 2.3241
Epoch 59/75
121/121 [==============================] - 0s 3ms/step - loss: 1.9610 - MAE: 1.9610 - val_loss: 2.3212 - val_MAE: 2.3212
Epoch 60/75
121/121 [==============================] - 0s 3ms/step - loss: 1.9574 - MAE: 1.9574 - val_loss: 2.3213 - val_MAE: 2.3213
Epoch 61/75
121/121 [==============================] - 0s 3ms/step - loss: 1.9458 - MAE: 1.9458 - val_loss: 2.3549 - val_MAE: 2.3549
Epoch 62/75

121/121 [==============================] - 0s 4ms/step - loss: 1.9503 - MAE: 1.9503 - val_loss: 2.3396 - val_MAE: 2.3396
Epoch 63/75
121/121 [==============================] - 0s 4ms/step - loss: 1.9490 - MAE: 1.9490 - val_loss: 2.3113 - val_MAE: 2.3113
Epoch 64/75
121/121 [==============================] - 0s 3ms/step - loss: 1.9411 - MAE: 1.9411 - val_loss: 2.3256 - val_MAE: 2.3256
Epoch 65/75
121/121 [==============================] - 0s 4ms/step - loss: 1.9315 - MAE: 1.9315 - val_loss: 2.3187 - val_MAE: 2.3187
Epoch 66/75
121/121 [==============================] - 0s 4ms/step - loss: 1.9248 - MAE: 1.9248 - val_loss: 2.3139 - val_MAE: 2.3139
Epoch 67/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9246 - MAE: 1.9246 - val_loss: 2.3053 - val_MAE: 2.3053
Epoch 68/75
121/121 [==============================] - 0s 3ms/step - loss: 1.9223 - MAE: 1.9223 - val_loss: 2.3232 - val_MAE: 2.3232
Epoch 69/75
121/121 [==============================] - 0s 4ms/step - loss: 1.9235 - MAE: 1.9235 - val_loss: 2.3236 - val_MAE: 2.3236
Epoch 70/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9182 - MAE: 1.9182 - val_loss: 2.3194 - val_MAE: 2.3194
Epoch 71/75
121/121 [==============================] - 0s 4ms/step - loss: 1.9123 - MAE: 1.9123 - val_loss: 2.3187 - val_MAE: 2.3187
Epoch 72/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9126 - MAE: 1.9126 - val_loss: 2.3016 - val_MAE: 2.3016
Epoch 73/75
121/121 [==============================] - 0s 2ms/step - loss: 1.9110 - MAE: 1.9110 - val_loss: 2.3222 - val_MAE: 2.3222
Epoch 74/75
121/121 [==============================] - 0s 3ms/step - loss: 1.9038 - MAE: 1.9038 - val_loss: 2.3193 - val_MAE: 2.3193
Epoch 75/75
121/121 [==============================] - 0s 4ms/step - loss: 1.8963 - MAE: 1.8963 - val_loss: 2.3042 - val_MAE: 2.3042

In [20]:
test_loss, test_mae = model.evaluate(x_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

38/38 [==============================] - 0s 2ms/step - loss: 2.0383 - MAE: 2.0383
Test Loss: 2.0383126735687256, Test MAE: 2.0383126735687256

In [21]:
y_pred = model.predict(x_test)
y_pred = np.argmax(y_pred, axis=1)

38/38 [==============================] - 0s 2ms/step